<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/jass.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>


  <body>
    {{!-- header --}}
    <header class="bg-light p-3">
      <div class="m-2 display-flex w-50 justify-space-around flex-column align-center col-md-4 col-lg-5">
        <div class="mb-3">
          <a href="/" class="mr-2">Home</a>
          {{#if logged}}
          <a href="/dashboard" class="mr-2">Dashboard</a>
          <a href="/logout" class="">Log out</a>
          {{else}}
          <a href="/login" class="">Log in</a>
          {{/if}}
        </div>
        <div>
          <a href="/" class="text-primary btn.btn-primary:hover"><h1 class="btn.btn-ligh">The Tech Blog</h1></a>
        </div>
      </div>
    </header>
    <main class="bg-primary text-white">
      {{{body}}}
    </main>
    {{#if logged}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>
