<div class="p-5">
    <div class="mb-5 flex-column display-flex col-12 text-center align-center">
        <textarea name="newpost" id="post" cols="5" rows="2" class="w-25" placeholder="Type your feelings.."></textarea><br>
        <button class="btnpost btn" type="submit">Send</button>
    </div>
</div>

<script src="/js/newPost.js"></script>