<div class="p-3">
    <h2 class="text-center">Enter the new text</h2>
    <div class="mb-5 flex-column display-flex col-12 text-center align-center">
    <textarea name="newpost" id="post" cols="5" rows="2" class="w-25" placeholder="Type your feelings.."></textarea><br>
    <button class="btnpost btn" type="submit" id="{{post_id}}">Send</button>
    </div>
</div>

<script src="/js/updatePost.js"></script>